html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: Avenir, Helvetica, Arial, sans-serif; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

img {
  display: block;
  width: 100%;
  height: auto; }

div,
li,
img {
  box-sizing: border-box; }

h1
h2,
h3 {
  margin: 0;
  color: #090B17; }

p {
  color: #090B17; }

img {
  max-width: 100%;
  flex-shrink: 0; }
